<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}
    ABOUT | UNIV.iX.
{% endblock %}

{% block content %}
    <div style="height:166px"></div>
    <header>
        <div >

        </div>
    </header>
    <div style="height:200px;" class="text-center title display-4">
        UNIVERSITY INDEX
    </div>

    <div id="about" class="wptest">
        <h1 class="font-futuraround-demi text-center" style="font-size:110%">ABOUT University IndeX</h1>
        <br><br>
        <p class="text-center font-futuraround-regular">Created by Xiaoyi Gu, Kexin Zheng, and Haoqing Mo
            <br><br>
        </p>
        <p class="text-center font-futuraround-demi">
            Searching for a dream university is not a big deal.<br>
            Just open wikipedia, USNews, or any other ranking websites<br class="sp">
            <br>
            and you will get all you want.
            <br><br>
        </p>
        <p class="text-center font-futuraround-demi">
            Or is it?<br class="">
            Maybe there are other things you may want to consider apart from just the "ranking"<br class="sp">
            <br>
        </p>
        <p class="text-center font-futuraround-regular">
            <br>
            Quick question<br class="">
            Will you walk to school or you already have a nice car?<br class="sp">
            <br>
            Does the traffic a mess in your targeted school?<br class="">
            Will you require public transport?
        </p>
        <p class="text-center font-futuraround-regular">
            <br>
            How much do you care about the public safety around your dream school?<br class="sp">
            <br>Or, What climate do you like? And does your dream school's climate suits you?
        </p>
        <p class="text-center font-futuraround-regular">
            <br>
            These are simple questions<br class="sp">
            <br>But finding an answer costs time -- Especially when it comes to multiple universities
        </p>
        <p class="text-center font-futuraround-regular">
            <br><br>Searching for these answers one by one may not be a "quick" movement<br class="sp">
            <br>But we will make it happen
        </p>
        <p class="text-center font-futuraround-demi">
            <br>Real Quick.
        </p>
    </div>
{% endblock %}